@font-face {
 font-family: 'Roboto-light';
 src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto-regular';
 src: url('../fonts/roboto/Roboto-regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Roboto-bold';
 src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}