.guarantees
 padding: 157px 0 100px
 background: #000000 
 position: relative
 &:before
  content: ''
  opacity: 0.2
  background: url('../img/gurantees/baskground.png')no-repeat 420% -50%
  filter: grayscale(100%)
  width: 100% 
  height: 100% 
  position: absolute 
  top: 0 
  left: 0
   